<!DOCTYPE html>
<html lang="en" class="no-right-bar no-left-bar">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <title>Welcome to The Economic Times</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= javascript_include_tag 'application' %>

  <!--// OPTIONAL & CONDITIONAL CSS FILES //-->
  <!-- custom/responsive growl messages -->
  <link rel="stylesheet" href="/assets/css/toastr.custom.css?v=1">
  <link rel="stylesheet" href="/assets/css/toastr-responsive.css?v=1">
  <link rel="stylesheet" href="/assets/css/jquery.jgrowl.css?v=1">

  <!-- // DO NOT REMOVE OR CHANGE ORDER OF THE FOLLOWING // -->
  <!-- bootstrap default css (DO NOT REMOVE) -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css?v=1">
  <link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css?v=1">
  <!-- font awsome and custom icons -->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css?v=1">
  <link rel="stylesheet" href="/assets/css/cus-icons.css?v=1">
  <!-- jarvis widget css -->
  <link rel="stylesheet" href="/assets/css/jarvis-widgets.css?v=1">
  <!-- Data tables, normal tables and responsive tables css -->
  <link rel="stylesheet" href="/assets/css/DT_bootstrap.css?v=1">
  <link rel="stylesheet" href="/assets/css/responsive-tables.css?v=1">
  <!-- used where radio, select and form elements are used -->
  <link rel="stylesheet" href="/assets/css/uniform.default.css?v=1">
  <link rel="stylesheet" href="/assets/css/select2.css?v=1">
  <!-- main theme files -->
  <link rel="stylesheet" href="/assets/css/theme.css?v=1">
  <link rel="stylesheet" href="/assets/css/theme-responsive.css?v=1">

  <!-- // THEME CSS changed by javascript: the CSS link below will override the rules above // -->
  <!-- For more information, please see the documentation for "THEMES" -->
  <link rel="stylesheet" id="switch-theme-js" href="/assets/css/themes/default.css?v=1">

  <!-- To switch to full width -->
  <link rel="stylesheet" id="switch-width" href="/assets/css/full-width.css?v=1">

  <!-- Flexslide -->
  <link rel="stylesheet" type="text/css" href="/assets/css/flexslider.css">

  <!-- Webfonts -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css'>

  <!-- All javascripts are located at the bottom except for HTML5 Shim -->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="/assets/js/include/respond.min.js"></script>
  <![endif]-->

  <!-- For Modern Browsers -->
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.png">
  <!-- For everything else -->
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <!-- For retina screens -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-retina.png">
  <!-- For iPad 1-->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-ipad.png">
  <!-- For iPhone 3G, iPod Touch and Android -->
  <link rel="apple-touch-icon-precomposed" href="/assets/img/favicons/apple-touch-icon.png">

  <!-- iOS web-app metas -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Add your custom home screen title: -->
  <meta name="apple-mobile-web-app-title" content="Jarvis">

  <!-- Startup image for web apps -->
  <link rel="apple-touch-startup-image" href="/assets/img/splash/ipad-landscape.png"
        media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
  <link rel="apple-touch-startup-image" href="/assets/img/splash/ipad-portrait.png"
        media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
  <link rel="apple-touch-startup-image" href="/assets/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<body>
<!-- .height-wrapper -->
<div class="height-wrapper">

<!-- header -->
<header>
  <!--tool bar-->
  <div id="header-toolbar" class="container-fluid">
    <!-- .contained -->
    <div class="contained">

    </div>
    <!-- end .contained -->
  </div>
  <!--end tool bar-->

</header>
<!-- end header -->

<div id="main" role="main" class="container-fluid">

<div class="contained">
<!-- aside -->
<aside>

  <!-- Left Menu -->

  <div class="sidebar-nav-fixed">

    <div style="text-align: center;">
      <%= image_tag "/assets/img/logo.png" %>
    </div>
    <br>
    <ul class="menu" id="accordion-menu-js">
      <li class="current">
        <a href="/"><i class="icon-home"></i>Home</a>
      </li>
      <li class="">
        <a href="javascript:void(0);"><i class="icon-pencil"></i>Today's Quiz</a>
      </li>
      <li class="">
        <a href="javascript:void(0);"><i class="icon-briefcase"></i>Archives</a>
      </li>
      <li class="">
        <a href="javascript:void(0);"><i class="icon-flag"></i>LeaderBoard</a>
      </li>
      <li class="">
        <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="icon-off"></i>Logout
        <% end %>
      </li>
      <li>

      </li>
    </ul>

    <br>

    <%= link_to "#", class: "btn btn-warning btn-large" do %>
        <sub><i class="livicon" data-name="question" data-size="60"></i></sub>
        <br>
        <br>
        Got a question? <br>Click here to understand how the know your ET Quiz works...
        <br>
        <br>
    <% end %>


  </div>

</aside>
<!-- aside end -->

<!-- main content -->
<div id="page-content">
  <div class="fluid-container" style="background: whitesmoke; padding:10px;margin-bottom: 20px;min-height: 480px;">
    <div class="row-fluid">
      <%= link_to "#", class: "btn btn-warning span12" do %>
          <%= image_tag "banner.png", class: "span5" %>
    <% end %>
    </div>
    <br>

    <div class="row-fluid" style="padding-left: 40px">
      <div class="span2">
        <div>
          <div class="your_score" style="border-bottom: 3px solid #2c576a;">
            <h4><sub><i class="livicon pull-right" data-name="tasks" data-size="28"></i></sub>
              Score</h4>
          </div>
          <h3 style="margin:0">450 Points</h3>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%= image_tag "arijit.jpg", style: "border-radius:5px;border:1px solid black;" %>
        <h4 style="margin-left: 0.5em">Arijit Lahiri</h4>
        <%= link_to "Edit", "#", class: "btn btn-warning span12", style: "color:black; margin-bottom:5px" %>
        <%= link_to "Logout", "#", class: "btn btn-danger span12" %>
      </div>
      <div class="span7">
        <div class="row-fluid" style="text-align: center">
          <div class="span3 blocked">
            <img src="/assets/img/slider1.jpg" class="span12"/>
            <a href="#" class="btn btn-warning btn-large">Today's Quiz</a>
          </div>
          <div class="span3 blocked">
            <img src="/assets/img/slider2.jpg" class="span12"/>
            <a href="#" class="btn btn-warning btn-large">The Archives</a>
          </div>
          <div class="span3 blocked">
            <img src="/assets/img/slider3.jpg" class="span12"/>
            <a href="#" class="btn btn-warning btn-large">Leaderboard</a>
          </div>
          <div class="span3 blocked">
            <img src="/assets/img/slider4.jpg" class="span12"/>
            <a href="#" class="btn btn-warning btn-large">Quiz Rules</a>
          </div>
        </div>
        <br>

        <div class="row-fluid">
          <%= link_to "#", class: "btn btn-danger btn-large span12" do %>
              <h4>Click here to refer the quiz to your friends. And earn bonus points.</h4>
          <% end %>
        </div>

        <br>

        <div class="row-fluid">
          <div class="span4">
            <div style="border-bottom: 3px solid #2c576a;">
              <h4><sub><i class="livicon pull-right" data-name="users" data-size="28"></i></sub>
                Referrals</h4>
            </div>
            <br>
            You referred the quiz to a 100 friends. Of these, 63 friends are playing the quiz. You have earned 256
            points for your referrals.
          </div>
          <div class="span4">
            <div>
              <%= image_tag "ETlogo.png" %>
            </div>
          </div>
          <div class="span4">
            <div style="border-bottom: 3px solid #2c576a;">
              <h4 style="text-align: right"><sub><i class="livicon pull-left" data-name="trophy" data-size="28"></i></sub>
                Winners</h4>
            </div>
            <br>
            Akansha Mittal, James Belushi and T.S.R. Raju won the daily prize for correctly answering the question for 3rd August.
          </div>
        </div>

      </div>

      <div class="span2">
        <div class="row-fluid " style="border-bottom: 3px solid #2c576a;">
          <div class="span12">
            <h4 style="text-align: right"><sub><i class="livicon pull-left" data-name="ghost" data-size="28"></i></sub>
              Recent Activity
            </h4>
          </div>
        </div>
        <div class="row-fluid">
          <br>

          <div class="row-fluid chatt2">
            <div class="span2">
              <sub><i class="livicon" data-name="thumbs-up" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You have answered a question for 10 points
            </div>
          </div>

          <div class="row-fluid chatt3">
            <div class="span2">
              <sub><i class="livicon" data-color="#ffffff" data-name="thumbs-up" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You have earned a bonus worth 50 points
            </div>
          </div>

          <div class="row-fluid chatt2">
            <div class="span2">
              <sub><i class="livicon"  data-name="thumbs-down" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You lost 100 points
            </div>
          </div>

          <div class="row-fluid chatt2">
            <div class="span2">
              <sub><i class="livicon" data-name="thumbs-up" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You updated your profile
            </div>
          </div>

          <div class="row-fluid chatt3">
            <div class="span2">
              <sub><i class="livicon" data-color="#ffffff" data-name="thumbs-up" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You won the double trouble bonus
            </div>
          </div>
          <div class="row-fluid chatt2">
            <div class="span2">
              <sub><i class="livicon" data-name="thumbs-down" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You lost 100 points
            </div>
          </div>

          <div class="row-fluid chatt2">
            <div class="span2">
              <sub><i class="livicon" data-name="thumbs-up" data-size="24"></i></sub>
            </div>
            <div class="span10">
              You have earned a bonus of 50 points for your referral
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>

</div>
</div>
<!-- end main content -->

</div>

</div>
<!--end fluid-container-->
<div class="push"></div>
</div>
<!-- end .height wrapper -->

<!-- footer -->

<!-- if you like you can insert your footer here -->

<!-- end footer -->

<!--================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="/assets/js/libs/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/libs/jquery.min.js"><\/script>')</script>
<!-- OPTIONAL: Use this migrate script for plugins that are not supported by jquery 1.9+ -->
<!-- DISABLED <script src="/assets/js/libs/jquery.migrate-1.0.0.min.js"></script> -->
<script src="/assets/js/libs/jquery.ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/assets/js/libs/jquery.ui.min.js"><\/script>')</script>

<!-- IMPORTANT: Jquery Touch Punch is always placed under Jquery UI -->
<script src="/assets/js/include/jquery.ui.touch-punch.min.js"></script>

<!-- REQUIRED: Mobile responsive menu generator -->
<script src="/assets/js/include/selectnav.min.js"></script>

<!-- REQUIRED: Datatable components -->
<script src="/assets/js/include/jquery.accordion.min.js"></script>

<!-- REQUIRED: Toastr & Jgrowl notifications  -->
<script src="/assets/js/include/toastr.min.js"></script>
<script src="/assets/js/include/jquery.jgrowl.min.js"></script>

<!-- REQUIRED: Sleek scroll UI  -->
<script src="/assets/js/include/slimScroll.min.js"></script>

<!-- REQUIRED: Animated pie chart -->
<script src="assets/js/include/jquery.easy-pie-chart.min.js"></script>

<!-- REQUIRED: Form element skin  -->
<script src="/assets/js/include/jquery.uniform.min.js"></script>

<!-- REQUIRED: iButton -->
<script src="/assets/js/include/jquery.ibutton.min.js"></script>

<!-- REQUIRED: Functional Widgets -->
<script src="/assets/js/include/jarvis.widget.min.js"></script>
<script src="/assets/js/include/mobiledevices.min.js"></script>
<!-- DISABLED (only needed for IE7 <script src="/assets/js/include/json2.js"></script> -->

<!-- REQUIRED: Infinite Sliding Menu (used with inbox page) -->
<script src="/assets/js/include/jquery.inbox.slashc.sliding-menu.js"></script>

<!-- REQUIRED: Form validation plugin -->
<script src="/assets/js/include/jquery.validate.min.js"></script>

<!-- REQUIRED: Progress bar animation -->
<script src="/assets/js/include/bootstrap-progressbar.min.js"></script>

<!-- REQUIRED: Bootstrap Prompt -->
<script src="/assets/js/include/bootbox.min.js"></script>

<!-- REQUIRED: Bootstrap engine -->
<script src="/assets/js/include/bootstrap.min.js"></script>

<!-- DO NOT REMOVE: Theme Config file -->
<script src="/assets/js/config.js"></script>

<!-- Flexslider -->
<script src="/assets/js/include/jquery.flexslider.js"></script>
<script src="/assets/js/include/jquery.flexslider-min.js"></script>


<script type="text/javascript">
    /** DEMO SCRIPTS **/
    $(function () {

        /* show tooltips */
//        $.jGrowl("Don't forget to check out the latest quiz happenings. </br> </br> You can move around the widgets and even change the colors!", {
//            header: 'Welcome Quizster!',
//            sticky: true,
//            life: 5000,
//            speed: 500,
//            theme: 'with-icon',
//            position: 'top-right', //this is default position
//            easing: 'easeOutBack',
//            animateOpen: {
//                height: "show"
//            },
//            animateClose: {
//                opacity: 'hide'
//            }
//        });

        $('.flexslider').flexslider({
            animation: "fade",
            controlNav: false
        });

        $("#btn-blog-next").click(function () {
            $('#blogCarousel').carousel('next')
        });
        $("#btn-blog-prev").click(function () {
            $('#blogCarousel').carousel('prev')
        });

        $("#btn-client-next").click(function () {
            $('#clientCarousel').carousel('next')
        });
        $("#btn-client-prev").click(function () {
            $('#clientCarousel').carousel('prev')
        });


    });
    /** end DEMO SCRIPTS **/
</script>

</body>
</html>


